#app {
  margin-top: 0;
  text-align: justify;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
a {
  color: #35393f;
}
.layout .layout-logo {
  width: 150px;
  height: 100%;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
}
.layout-logo h1 {
  color: #1e65ce;
  font-size: 20px;
  margin-bottom: 1px;
  font-weight: bolder;
}
.layout .layout-menu {
  width: 45%;
  height: 100%;
  float: left;
}
.layout .layout-icon {
  margin-right: 20px;
  width: 30px;
  height: 100%;
  float: right;
  justify-content: center;
  align-items: center;
  display: flex;
}
.app-main {
  min-height: calc(100vh - 170px);
  background: #fff;
  padding: 24px;
}
.layout .ant-layout-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0;
  background: #fff;
}
.layout .ant-layout-content {
  padding: 0 50px;
  margin-top: 64px;
}
.layout .ant-layout-footer {
  padding: 15px 50px;
  text-align: center;
}
.ant-table {
  margin-top: 15px !important;
}

.ant-result-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.apply-register {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  .form {
    margin-top: 20px;
  }
  .title {
    margin-top: 40%;
    padding: 70px;
    text-align: center;
    color: rgba(41, 49, 44, 0.74);
    font-weight: bolder;
    font-size: 30px;
  }
  .button {
    text-align: center;
    color: rgba(41, 49, 44, 0.74);
    font-weight: bolder;
    font-size: 20px;
  }
}

.full-modal {
  .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
    overflow-y: auto;
  }
  .ant-modal-body {
    flex: 1;
  }
}


.text-editor {
  color: #676666;
  padding: 16px;
  height: 800px;
  .ql-editor {
    height: 100%;
  }
  .ql-container {
    height: 100%;
  }
}